@import "../../../styles/variables.scss";

.todo-list {
  width: 90%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  &__header {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: white;
  }

  &__placeholder {
    font-size: 1.6rem;
    color: white;
  }
}
